<h1>ジャンル一覧・追加</h1>
<%= form_with model:@genre,local:true do |f| %>
<% if @genre.errors.any? %>
  <div id="error_explanation">
    <h3>保存されませんでした</h3>
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li>空白で登録は出来ません</li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class='create-foem'>
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
  <%= f.submit '新規登録', class: 'btn btn-success' %>
</div>
<% end %>

<h3>ジャンル</h3>
<table>
   <% @genres.each do |genre| %>
   <tr>
     <td><%= genre.name %></td>
     <td><%= link_to '編集する', edit_genre_path(genre), class: "btn btn-sm btn-success" %></td>
   </tr>
   <% end %>
</table>

