<h1>Shippings#index</h1>
<p>Find me in app/views/shippings/index.html.erb</p>

<h2>配送先登録・一覧</h2>
<br>
<h3>新規登録</h3>

<table class="table">
  <%= form_with model: Shipping.new , url:'/shippings', local:true do |f| %>
    <tr class ="form-group">
      <th><%= f.label :"郵便番号" %></th>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr class ="form-group">
      <th><%= f.label :"住所" %></th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr class ="form-group">
      <th><%= f.label :宛名 %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr class ="form-group">
     <th><%= f.submit class: 'btn btn-success' %></th>
    </tr>
  <% end %>
</table>


<%= form_with model: Shipping.new , url:'/shippings', local:true do |f| %>
  <div class="form-group">
    <%= f.label :"郵便番号" %>
    <%= f.text_field :postal_code %> <!--, class: 'form-control book_title'は必要？-->
  </div>
  <div class="form-group">
    <%= f.label :"住所" %>
    <%= f.text_field :address %> <!--, class: 'form-control book_title'は必要？-->
  </div>
  <div class="form-group">
    <%= f.label :宛名 %>
    <%= f.text_field :name %> <!--, class: 'form-control book_title'は必要？-->
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
  
<br>
<table class = "table">
  <thead class = "thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shippings.each do |shipping| %>
      <tr>
        <td><%= shipping.postal_code %></td>
        <td><%= shipping.address %></td>
        <td><%= shipping.name %></td>
        <td>destroy</td>
        <td>edit</td>
      </tr>
    <% end %>
  </tbody>
</table>
