<div class = "container">
  <div class ="row">
    <div class="col-lg-10 offset-lg-1">

      <h2 class="title_h2 text-left" style="margin-bottom: 30px;">注文履歴一覧</h2>

      <table class = "table table-hover">
        <thead class = "thead-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order), data: {"turbolinks" => false}, :style => "text-decoration:underline; color: black;" do %>
                  <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                <% end %>
              </td>
              <td><%= order.customer.last_name %> <%= order.customer.first_name %></td>
              <td>
                <% sum_all = 0 %>
                <% order.order_details.each do |order_item| %>
                  <% sum_all +=  order_item.quantity %>
                <% end %>
                <%= sum_all %>
              </td>
              <td><%= order.order_status %></td>
              <!--th><= order.customer_id %></th-->
              <!--th><= link_to admin_item_path(order.id) do%><= item.name %> < end %></th-->
              <!--th><= item.price %></th-->
              <!--th><= item.genre.name %></th-->
              <!-- if item.is_saled %>
                <!--th>販売中</th>
              < else %>
                 <th>販売停止中</th>
              < end %-->
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="col-lg-1"></div>
    <!--= paginate @orders %-->
  </div>
</div>
