<div class ="container">
  <div class = "low">
    <div class = "col-8">
      
<h1>会員情報編集</h1>
  <%= form_with(model:@customer, url:customer_path, local: true ,method: :put) do |f| %>
    <div class="form-group">
      <table class="table table-borderless">
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :last_name, autofocus: true %></td>
          <td><%= f.text_field :first_name, autofocus: true %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= f.text_field :last_name_kana, autofocus: true %></td>
          <td><%= f.text_field :first_name_kana, autofocus: true %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= f.text_field :postal_code, autofocus: true %></td>
          <td></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address, autofocus: true %></td>
          <td></td>
        </tr>
        <tr>
          <th>電話</th>
          <td><%= f.text_field :telephone_number, autofocus: true %></td>
          <td></td>
        </tr>
        <tr>
          <th>アドレス</th>
          <td><%= email_field :email, autofocus: true %></td>
          <td></td>
        </tr>
      </table>
    </div>
    
    <div class="actions-8">
      <%= f.submit "編集内容を保存する", class: "btn btn-primary save col-xs-6" %>
      <%= link_to "退会する", out_customer_path, class: "glyphicon glyphicon-tint btn btn-danger" %>
    </div>
  <% end %>
    <%= link_to "編集内容を保存", customer_path %>
      
      
    </div>
  </div>
</div>
