<div class='row'>
  <div class="col-xs-offset-1 col-xs-8">
    <h2 class="head-line text-center title_h2">マイページ</h2>
    <p><strong class="information-link"><i class="far fa-user"></i>登録情報</strong>
    <%= link_to " 編集する", edit_customer_path, class: "glyphicon glyphicon-pencil btn btn-success" %>
    </p>

    <table class="table table-bordered table-condensed" >
      <tbody>
        <tr>
          <td class="info col-xs-2">氏名</td>
          <td class="text-left"><%= current_customer.last_name %><%= current_customer.first_name %></td>
        </tr>
        <tr>
          <td class="info col-xs-2">カナ</td>
          <td class="text-left"></td>
        </tr>
      </tbody>
  </div>
</div>


<div>
  <p>氏名</p>
  <%= current_customer.last_name %>
  <%= current_customer.first_name %>
</div>

<div>
  <p>カナ</p>
  <%= current_customer.last_name_kana %>
  <%= current_customer.first_name_kana %>
</div>

<div>
  <p>郵便番号</p>
  <%= current_customer.postal_code %>
</div>

<div>
  <p>住所</p>
  <%= current_customer.address %>
</div>

<div>
  <p>電話番号</p>
  <%= current_customer.telephone_number %>
</div>

<div>
  <p>メールアドレス</p>
  <%= current_customer.email %>
</div>

<h3>配送先</h3>
<button type="submit" class="btn btn-primary">一覧を見る</button>
<h3>注文履歴</h3>
<button type="submit" class="btn btn-primary">一覧を見る</button>