<div class="col-lg-10 offset-1 space">

  <div class="row">
    <div class="col-lg-4">
      <h2>注文情報入力</h2>
    </div>
  </div>

  <%= form_with(model: @order, local: true, url: {action: 'check'}) do |f| %>

  <!-- 支払方法 -->
  <div class="row space">
    <h3><strong><%= f.label :支払方法 %></strong></h3>
  </div>

  <div class="row">
    <div class="col-lg-4 btn-group" data-toggle="buttons">
      <label class="btn btn-outline-secondary active" style="width:50%">
        <%= f.radio_button :payment_method, "クレジットカード", {checked: "クレジットカード"} %> クレジットカード
      </label>
      <label class="btn btn-outline-secondary" style="width:50%">
        <%= f.radio_button :payment_method, "銀行振込", {} %> 銀行振込
      </label>
    </div>
  </div>

  <!-- お届け先 -->
  <div class="row space">
    <h3><strong><%= f.label :お届け先 %></strong></h3>
  </div>
  <!-- 自身の住所 -->
  <div class="row">
    zz
  </div>

  <!-- 登録済み住所 -->
  <div class="row space-sm">
    <p>
      <label><%= f.radio_button :add, 2, style: "display: inline-block" %>登録住所から選択</label><br>
      <!--< %= f.collection_select :send_to_address, @customer.addresses, :id, :address %>-->
        <!--↑を↓に書き換え-->
      <%= f.collection_select :send_to_address, @customer.shippings, :id, :address , { prompt: "選択してください" } %>
        <!--f.collection_select カラム名, 要素の配列, value属性の項目, テキストの項目, { prompt: "選択してください" } -->
        <!--今回は@customerに紐づくテーブルを持ってきたかったので.shippings-->
    </p>
  </div>

  <!-- 新しい住所 -->
  <div class="row space-sm">
    <p><label><%= f.radio_button :add, 3 %>新しいお届け先</label></p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= f.fields_for :new_add do |na| %>
      <div class="row">
        <div class="col-lg-3">
          <strong>郵便番号(ハイフンなし)</strong>
        </div>
        <div class="col-lg-6">
          <%= na.text_field :postal_code, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <strong>住所</strong>
        </div>
        <div class="col-lg-6">
          <%= na.text_field :address, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <strong>宛名</strong>
        </div>
        <div class="col-lg-6">
          <%= na.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- お届け先ここまで -->

  <div class="row space">
    <div class="col-lg-2 offset-lg-7" style="margin-top: 20px;">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary"%>
    </div>
  </div>

  <% end %>
</div>