
<<<<<<< HEAD
<!--どうやって一般ユーザーと管理者を区別するかはおいておきますが-->
<!--ここでは管理者権限の有無で表示内容を変えるのがよいかと思いました-->
<!--< % else %>  -->
<!--そうでない場合-->
  <!--<h2>注文履歴詳細</h2>-->
  <!--<br>-->
  <!--<div class ="container">-->
  <!--  <div class ="row">-->
  <!--    <div class ="col-6 offset-1">-->
  <!--      <%#= render "orders/order_info" %>-->
        <!--注文情報-->
  <!--    </div>-->
  <!--    <div class ="col-5">-->
  <!--      <%#= render "orders/order_billing" %>-->
        <!--請求金額-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <br>-->
  <!--  <div class = "row">-->
  <!--    <div class = "col-12">-->
  <!--      <%#= render "orders/order_item" %>-->
        <!--注文内容-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

<!--< % end %>-->


<!--< % if cullent_user == admin %>-->
<!--現在のログインユーザーが管理者の場合-->

<!--  <h2>注文履歴詳細</h2>-->


<!--  <table class = "table">-->
<!--    <tr>-->
<!--      <th>購入者</th>-->
<!--      <td>名前</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>注文日</th>-->
<!--      <td>yyyy/mm/dd</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>配送先</th>-->
<!--      <td>〒〜住所〜</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>支払い方法</th>-->
<!--      <td>銀行振込</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>注文ステータス</th>-->
<!--      <td></td>-->
<!--    </tr>-->
<!--  </table>-->

<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>商品名</th>-->
<!--        <th>単価（税込み）</th>-->
<!--        <th>数量</th>-->
<!--        <th>小計</th>-->
<!--        <th>製作ステータス</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td>ケーキ</td>-->
<!--        <td>110</td>-->
<!--        <td>2</td>-->
<!--        <td>220</td>-->
<!--        <td>プルダウンタブいれる</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--  <table>-->
<!--    <tr>-->
<!--      <th>商品合計</th>-->
<!--      <td>220</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>送料</th>-->
<!--      <td>600</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>請求金額</th>-->
<!--      <td>820</td>-->
<!--    </tr>-->
<!--  </table>-->


 <!--以下お手本-->



=======
>>>>>>> origin/develop
 <div class="col-lg-10 offset-1 space">
  <div class="row">
    <h2>注文履歴詳細</h2>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="row space">
        <h3>注文情報</h3>
      </div>
      <div class="row">
        <div class="container">
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>注文日</strong>
            </div>
            <div class="col-lg-9">
              <%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>配送先</strong>
            </div>
            <div class="col-lg-9">
              <%= @order.send_to_address %>
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>支払方法</strong>
            </div>
            <div class="col-lg-9">
              <%= @order.payment_method %>
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-3">
              <strong>状況</strong>
            </div>
            <div class="col-lg-9">
              <%= @order.order_status %>
            </div>
          </div>
        </div>
      </div>

      <div class="row space">
        <h3>注文内容</h3>
      </div>
      <div class="d-none d-lg-block">
        <div class="row">
          <div class="col-lg-4">
            <strong>商品</strong>
          </div>
          <div class="col-lg-3">
            <strong>単価（税込）</strong>
          </div>
          <div class="col-lg-2">
            <strong>個数</strong>
          </div>
          <div class="col-lg-2">
            <strong>小計</strong>
          </div>
        </div>
      </div>
      <% sum_all = 0 %>
      <% @order.order_details.each do |order_item| %>
      <div class="row space-sm">
        <div class="col-lg-4">
          <%= order_item.item.name %>
        </div>
        <div class="col-lg-3">
          <%= price_include_tax(order_item. total_payment) %>
        </div>
        <div class="col-lg-2">
          <%= order_item.quantity %>個
        </div>
        <div class="col-lg-2">
          <%= sub_total = price_include_tax(order_item. total_payment).to_i * order_item.quantity %>円
          <% sum_all += sub_total %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-lg-5">
      <div class="row space">
        <h3>請求情報</h3>
      </div>
      <div class="row">
        <div class="container">
          <div class="row space-sm">
            <div class="col-lg-6">
              <strong>商品合計</strong>
            </div>
            <div class="col-6">
              <%= sum_all %>円
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-6">
              <strong>配送料</strong>
            </div>
            <div class="col-lg-6">
              <%= @order.shipping_cost %>円
            </div>
          </div>
          <div class="row space-sm">
            <div class="col-lg-6">
              <strong>ご請求額</strong>
            </div>
            <div class="col-lg-6">
              <%= sum_all + @order.shipping_cost.to_i %>円
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
