<div class="container">
<h2 class="head-line title_h2 text-center">ショッピングカート</h2>
<div class="row">
  
  <!-- 多分位置がおかしいかもです -->
  <div>
    <%= link_to root_path, method: :delete do %>
		  <span class="btn btn-danger float-right">カートを空にする</span>
	  <% end %>
	<!-- ^^^^^^^^ -->  
  </div>
  
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込み)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @cart_item.each do |ffff| %>
            <tr>
                <td>
                  <%= attachment_image_tag item.product, :image, :fill, 50, 50 %>
                  <%= cart_item.item.name %>
                </td>
                <td><%= cart_item.item.price %></td>
                <td>
                  <%= number_field_tag :quantity[item.id], :in => 1...10 %>
                  <!--ナンバーフィールドタグを使うっぽいけど使い方が。。。 -->
                </td>
                <td>
                  <!-- 数量の合計だしたい -->
		            </td>
		            <td><%= link_to '削除する', cart_item_path(ffff), method: :delete %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
    <!--div class= "text-center"><= paginate(@customers) %></div-->
</div>
</div>

