<h1>商品編集</h1>

<%= form_with model:@item, local: true do |f| %>

<p>商品画像</p>
<%= f.text_area :image %>

<p>商品名</p>
<%= f.text_field :name %>

<p>商品説明</p>
<%= f.text_field :description %>

<p>ジャンル</p>
<%= f.check_box :genre_id %>

<P>税抜価格</P>
<%= f.text_field :price %>

<p>販売ステータス</p>
<%= f.select :is_saled ,[['販売中',true],['販売停止中',false]] %>

<%= f.submit '変更を保存' %>

<% end %>