<h1>商品一覧</h1>

<!--＋表記やっていない-->


<table class = "table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.id %></th>
      <th><%= link_to item_path(item) do%><%= item.name %> <% end %></th>
      <th><%= item.price %></th>
      <th><%= item.genre.name %></th>
      <% if item.is_saled %>
        <th>販売中</th>
      <% else %>
        <th>販売停止中</th>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<!--ページ移動やっていない-->