<div class="col-lg-10 space">
  <div class="container">
<<<<<<< HEAD
    <h2>
      <span style="display: inline-block;">商品一覧</span>
      <span style="display: inline-block;">（<%= @items.count %>種）</span>
    </h2>
=======
    <div class="display: inline-block">
      <h2>全商品一覧</h2>
      <h4> （<%= @items.count %>種） </h4>
    </div>
>>>>>>> origin/develop
  </div>
  <div class="container">
    <div class="row">
    <% @items.each do |item| %>
      <div class="col-lg-4 item-box space", style="margin-top: 40px;">

        <%= link_to item_path(item) do %>
          <div>
            <%= attachment_image_tag(item, :image, style: "max-width: 100%", fallback: 'no_image.jpg', size: '300x200') %>
          </div>
          <div class="col-lg-1"></div>

          <div><h4><%= item.name %></h4></div>
        <% end %>

        <div>
          <h4><%= price_include_tax(item.price) %></h4>
        </div>

      </div>
    <% end %>
    </div>
  </div>
  <%= paginate @items %>
</div>


