<h1>商品新規登録</h1>

<%= form_with model:@item, local:true do |f| %>
<tbody>
    <tr>
        <td>商品画像 <%= f.attachment_field :image %></td>
    </tr>
    <tr>
        <td>商品名 <%= f.text_field :name %></td>
    </tr>


<P>商品説明</P>
<%= f.text_field :description %>

<p>ジャンル</p>
<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>

<P>税抜価格</P>
<%= f.text_field :price %>

<P>販売ステータス</P>
<%= f.radio_button :is_saled, true %><P>販売中</P>
<%= f.radio_button :is_saled, false %><P>販売停止中</P>

<%= f.submit '新規登録' %>

</tbody>


<% end %>