<h1>商品詳細</h1>

<!--画像表示-->

<%= attachment_image_tag @item, :image_id %>
<tbody>
    <tr>
    <th>商品名</th>
    <%= @item.name %>
     </tr>

    <tr>
    <th>商品説明</th>
    <%= @item.description %>
    </tr>

    <th>ジャンル</th>
    <%= @item.genre_id %>

    <th>税込価格</th>
    <%= @item.price %>

    <th>販売ステース</th>
    <%= @item.is_saled %>

    <%= link_to '編集する', edit_item_path(@item) %>
</tbody>