<!--header部分プレート-->

<h1>商品詳細</h1>

画像表示

<P>商品名</P>
<%= item.name %>

<P>商品説明</P>
<%= item.description %>

<p>ジャンル</p>
<%= item.items_genre_id %>

<p>税込価格</p>
<%= item.price %>

<p>販売ステース</p>
<%= item.is_saled %>

<%= f.submit '編集する' %>